/* .card{
    margin-right: 30px;
    margin-bottom: 30px;
} */
/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"); */
body {
	background: #f5f5f5;
	font-family: "Roboto", sans-serif;
}

.container .mb-5 .mt-5{
    border-radius: 50px;
}

.shadow {
	box-shadow: 0 px 20px rgba(0, 0, 0, 10) !important;
}

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 125px;
	/* background-image: url("https://media.istockphoto.com/vectors/abstract-orange-vector-background-with-stripes-vector-id1311009664?k=20&m=1311009664&s=612x612&w=0&h=2KJja1I-TQq7C2bibB53etYH-D5XwO6r6N93f4B2oKE="); */
	background-position: center;
	background-size: cover;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6*/
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
}

.img-circle {
	height: 150px;
	width: 150px;
	border-radius: 150px;
	border: 3px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 1;
    background-color: white;
    border-color:rgb(255, 255, 255);
}



